body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Segoe UI", "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    -moz-transform: scale(1);
-webkit-transform: scale(1);
transform: scale(1);
}

.intro {
    padding: 0 10%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 32px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #A1A5AC;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.intro {
    background-color: #1F2937;
}

.intro-content {
    display: flex;
    column-gap: 48px;
    padding: 96px 0px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 1 0;
}

.hero-right {
    background-color: #9e9ea0;
    display: flex;
    flex: 1 1 0;
    align-items: center;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #A1A5AC;
}

button {
    border-radius: 6px;
    padding: 6px 28px;
    border: none;
}

.hero-sign-up {
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
}

.hero-img {
    color:#F9FAF8;
    text-align: center;
    flex: 1 1 0;
}